# Common
DEBUG=true
LOG_LEVEL=INFO

# Confluence
CONFLUENCE_EMAIL=
CONFLUENCE_TOKEN=
CONFLUENCE_HOST=

# AWS
AWS_REGION=us-east-1
AWS_S3_BUCKET=confluence-chat
AWS_BEDROCK_CHAT_MODEL=us.anthropic.claude-3-5-sonnet-20241022-v2:0
AWS_BEDROCK_GUARDRIAL_ID=
AWS_KNOWLEDGE_BASE_ID=
AWS_DATA_SOURCE_ID=
